.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 40px;
  width: 982px;
  background: #fff;
  max-height: 600px;
  z-index: 1000;
  overflow-y: auto;
}
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 18, 19, 0.4);
  z-index: 999;
}
.title {
  margin: 0;
}
.icon {
  width: 32px;
  height: 32px;
}
.firstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main);
}
.secondLine {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--main);
}

.imageContainer {
  display: flex;
  width: 100%;
  gap: 16px;
}
.image {
  flex: 1;
  border-radius: 10px;
  width: 290px;
  height: 310px;
}
.description {
  margin-top: 24px;
}
.infoContainer {
  display: flex;
  align-items: center;
  gap: 49px;
  height: 48px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  margin-top: 44px;
}
