.typeContainer {
  width: 360px;
  height: 167px;
}
.title {
  height: 48px;
  margin-top: 35px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
}
.icon {
  display: inline-block;
  width: 40px;
  height: 28px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.typetList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}
.typetItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  height: 95px;
  width: calc((100% - 30px) / 3);
}
.textIcon {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
}
