.mainPages {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.4),
      rgba(46, 47, 66, 0.8)
    ),
    url(../../images/TB_Van_18-1536x10241.jpgw3.jpg);
}
.title {
  font-size: 56px;
  color: rgb(246, 247, 248);
}
.rentalButton {
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  height: 80px;
  border-radius: 50%;
  background-color: aliceblue;
  cursor: pointer;
}
.rentalButton:hover,
.rentalButton:focus {
  color: aliceblue;
  background-color: rgb(76, 172, 216);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
