.camperList {
  width: 888px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.buttonLoad {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main);
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.buttonLoad:hover,
.buttonLoad:focus {
  border: 1px solid var(--loadmore);
  background-color: var(--loadmore);
}
